<!-- Header -->
	<header id="header">
		<a href="{{path ('home')}}"><img src="/img/logo.png"></a>
		<nav id="nav">
			<ul>
				<li style="max-height:20px;"><a href="{{path ('home')}}" >Home</a></li>
				<li style="max-height:20px;"><a href="{{path ('blog')}}" >Blog</a></li>
				<li style="max-height:20px;"><a href="{{path ('contact')}}" class="button" >Contact</a></li>
			</ul>
		</nav>
	</header>
