<!DOCTYPE HTML>

<html>
	<head>
		<title>{% block title %}6Team{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% block stylesheets %}
			<link rel="stylesheet" href="/css/main.css" />
		{% endblock %}
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			{% include "partials/header.html.twig" %}

			{% block body %}{% endblock %}

 			{% include "partials/footer.html.twig" %}

		</div>

		{% block javascripts %}
		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

		{% endblock %}

	</body>
</html>








		




